.geekleague-details {
    padding: 5vh 0;
}

.geekleague-seasons {
    margin: 0 0 35px 0;
}

.geekleague-seasons h4 {
    font-family: 'Audiowide';
    color: var(--color-white-cream);
    margin: 0;
}

.league-season-ranking {
    background-color: rgba(156, 0, 99, 0.8);
    border-radius: 10px;
    padding: 20px 20px 0 20px;
}

.geekleague-ranking-detail {
    color: black;
}

.geekleague-ranking-detail li span:first-child {
    text-align: left;
}

.geekleague-page.container {
    padding: 0;
}

.geekleague-page h2 {
    padding: 0 15px;
}

.geekleague-page h2 button {
    background: none;
    border: none;
    outline: none;
    margin-left: 4px;
}

.geekleague-page h2 button>svg {
    position: relative;
    bottom: 3px;
    transition: all 0.3s;
}

.geekleague-page h2 button>svg:hover {
    transform: scale(1.1)
}

.my-modal-edit-geekleague {
    position: fixed;
    min-height: 350px;
    width: 340px;
    top: calc(50vh - 150px);
    left: calc(50vw - 170px);
    background: var(--color-purple-rp);
    border: 3px solid var(--color-white-cream);
    padding: 10px 20px;
    border-radius: 10px;
}

.my-modal-edit-geekleague .my-modal-body {
    position: relative;
}

.close-edit-modal {
    position: absolute;
    right: -10px;
    top: -5px;
    cursor: pointer;
}

.my-modal-edit-geekleague h5 {
    color: var(--color-white-cream);
}

.my-modal-edit-geekleague input {
    outline: none !important;
}

.my-modal-edit-geekleague button {
    border: 2px solid var(--color-white-cream);
    margin: 10px;
    line-height: 100%;
    outline: none;
}

.my-modal-edit-geekleague button:hover {
    transform: none;
    background-color: var(--color-white-cream);
    color: var(--color-purple-rp);
}

.my-modal-delete-geekleague {
    position: fixed;
    min-height: 200px;
    width: 340px;
    top: calc(50vh - 100px);
    left: calc(50vw - 170px);
    background: var(--color-white-cream);
    border: 3px solid var(--color-white-cream);
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid var(--color-red-rp);
}

.my-modal-delete-geekleague h5 {
    color: var(--color-red-rp);
}

.close-delete-modal {
    color: var(--color-dark-blue-bp);
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}

.my-modal-delete-geekleague .my-btn {
    background-color: unset;
    line-height: 100%;
    margin-top: 10px;
    outline: none;
}

.my-modal-delete-geekleague .delete {
    color: var(--color-red-rp);
    border: 2px solid var(--color-red-rp);
    transform: none;
}

.my-modal-delete-geekleague .delete:hover {
    background-color: var(--color-red-rp);
    color: var(--color-white-cream);
}

.my-modal-delete-geekleague .return {
    background-color: var(--color-dark-blue-bp);
    color: var(--color-white-cream);
}

.league-season-ranking .see-more-btn {
    background: none;
    border: 2px solid var(--color-white-cream);
    color: var(--color-white-cream);
    line-height: 100%;
    outline: none;
    margin: 20px 0;
}

.league-season-ranking .see-more-btn:hover {
    background: var(--color-white-cream);
    color: var(--color-purple-rp);
}

@media (max-width: 380px) {
    .my-modal-edit-geekleague,
    .my-modal-delete-geekleague {
        width: 250px;
        left: calc(50vw - 125px);
    }
}

.return-button {
    color: var(--color-white-cream);
}

.return-button:hover {
    text-decoration: underline;
    color: var(--color-white-cream);
}

.ranking-geekleague-matchweek-container {
    padding: 0;
}

.ranking-geekleague-matchweek-container h2 {
    margin-top: 10px;
}

.ranking-geekleague-matchweek {
    padding: 20px;
    background-color: rgba(156, 0, 99, 0.8);
    border-radius: 10px;
    margin-bottom: 35px;
}

.ranking-geekleague-matchweek h4 {
    color: var(--color-white-cream) !important;
    font-family: 'Audiowide';
    margin: 0 10px;
}

.ranking-geekleague-matchweek h4 select {
    background-color: rgba(156, 0, 99, 0.8);
    outline: none;
    border: 1px solid var(--color-white-cream);
    border-radius: 21px;
    margin-left: 3px;
}