.logo-homepage {
    width: 600px;
}

.home-div .social-logins {
    background: rgba(240, 247, 244, 0.8);
    border-radius: 10px;
    padding: 15px;
    margin-top: 30px;
}

.home-div .social-logins h4 {
    color: var(--color-dark-blue-bp) !important;
    font-family: 'Audiowide';
}

.home-div button {
    margin-top: 20px;
}

.social-login-links {
    display: flex;
    justify-content: center;
}

.social-login-links a {
    margin: 0 10px;
}

.social-login-links img {
    width: 40px;
    height: 40px;
    transition: all 0.3s;
}

.social-login-links img:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .logo-homepage {
        max-width: 70vw;
    }
    .home-div .social-logins h4 {
        font-size: 1.2rem;
    }
}