.pronogeeks-bg::before {
    content: '';
    position: fixed;
    top: var(--navbar-height);
    left: 0;
    width: 100vw;
    height: calc(100vh - var(--navbar-height));
    opacity: 0.55;
    z-index: -1;
    background: url('/images/bg-gb-mirror.jpg') center/contain repeat border-box;
}

.pronogeeks-bg {
    min-height: calc(100vh - var(--navbar-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.pronogeeks-bg h2 {
    color: var(--color-dark-blue-bp) !important;
    margin: 10px 20px 0 20px;
    font-family: 'Audiowide';
}

.choose-favteam {
    background-color: rgb(240, 247, 244, 0.8);
    padding: 40px;
    border-radius: 10px;
    margin: 20px;
    max-width: 540px;
}

.choose-favteam label {
    color: var(--color-dark-blue-bp) !important;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.choose-favteam label svg {
    position: relative;
    bottom: 2px;
}

.choose-favteam select {
    height: 30px;
    padding: 0 15px;
    border-radius: 15px;
    outline: none;
}

.save-favteam-btn {
    background: none;
    color: var(--color-dark-blue-bp);
    border: 3px solid var(--color-dark-blue-bp);
    line-height: 100%;
    margin-top: 20px;
}

.save-favteam-btn:hover {
    background-color: var(--color-dark-blue-bp);
    color: var(--color-white-cream);
    transform: none;
}