.select-matchweek {
    outline: none;
    border: 1px solid var(--color-white-cream);
    border-radius: 21px;
    margin-left: 3px;
    width: fit-content;
    z-index: 2;
    color: var(--color-white-cream);
    cursor: pointer;
}

.select-matchweek.opened {
    position: absolute;
    border-radius: 0;
}

.select-matchweek::-webkit-scrollbar {
    width: 5px;
    height: 15px;
    background-color: #ccc;
}

.select-matchweek::-webkit-scrollbar-thumb {
    background-color: #666;
}

.invisible-select {
    opacity: 0;
}

.invisible-select.invisible {
    display: none;
}

.select-matchweek option {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.4rem;
}

.select-matchweek option:hover {
    background-color: #1e90ff;
}