:root {
    --color-white-cream: #F0F7F4;
    --color-dark-blue-bp: rgb(4, 78, 199);
    --color-light-blue-bp: rgb(37, 138, 230);
    --color-light-purple-bp: rgb(151, 2, 182);
    --color-dark-purple-bp: rgb(101, 6, 124);
    --color-dark-green-gb: rgb(16, 128, 0);
    --color-light-green-gb: rgb(59, 181, 21);
    --color-light-blue-gb: rgb(2, 88, 211);
    --color-purple-rp: rgb(156, 0, 99);
    --color-red-rp: rgb(253, 0, 7);
    --color-yellow: rgb(255, 217, 0);
    --navbar-height: 80px;
}

html {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

@media (min-width: 1400px) {
    html {
        font-size: 16px;
    }
    table {
        font-size: 16px;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Sawarabi Gothic', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.my-btn {
    background-color: var(--color-purple-rp);
    color: var(--color-white-cream);
    height: 42px;
    line-height: 42px;
    padding: 0 25px;
    font-size: 1.2rem;
    margin: 30px 20px 0;
    transition: all 0.3s;
    border: none;
    border-radius: 21px;
    box-sizing: border-box;
}

.my-btn:hover {
    transform: scale(1.02);
    color: var(--color-white-cream);
}

div.my-content {
    padding-top: var(--navbar-height);
    box-sizing: border-box;
    text-align: center;
    min-height: 100vh;
    text-align: center;
}

.row {
    max-width: 100vw;
}

h2 {
    font-size: 2.5rem;
    color: var(--color-white-cream) !important;
}

.page-404-heading {
    color: black !important;
}

div.loader-container {
    position: absolute;
    top: var(--navbar-height);
    width: 100vw;
    height: calc(100vh - var(--navbar-height));
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 576px) {
    h2 {
        font-size: 2.4rem;
    }
}


/* APPLAYOUT */

nav.my-navbar {
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    padding: 0;
    background-color: var(--color-dark-blue-bp) !important;
    font-family: 'Audiowide' !important;
}

.my-brand {
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.my-brand>h1 {
    color: var(--color-white-cream);
    margin: 0;
    line-height: var(--navbar-height);
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 3.8rem;
    position: relative;
    bottom: 4px;
}

button.my-navbar-btn {
    border: none;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    padding: 0;
    transition: all 0.3s;
    outline: none;
}

button.my-navbar-btn:hover {
    transform: scale(1.1);
}

.navbar-dark .navbar-toggler-icon {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28240, 247, 244, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center center;
    background-size: 100% 100%;
}

button.my-navbar-btn>span {
    width: 80%;
    height: 80%;
}

.profile-pic-navbar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 10px;
}

#my-navbar-toggle {
    height: fit-content;
    background-color: var(--color-dark-blue-bp);
    transition: all 0s;
}

#my-navbar-toggle {
    border-top: 2px solid rgba(240, 247, 244, 0.2)
}

#my-navbar-toggle>ul {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 !important;
}

#my-navbar-toggle>ul>li {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#my-navbar-toggle .logout-btn {
    border: none;
    background-color: var(--color-dark-blue-bp);
    color: var(--color-white-cream) !important;
    outline: none;
}

#my-navbar-toggle>ul>li>a,
#my-navbar-toggle .logout-btn {
    height: 100%;
    width: 100%;
    padding: 0;
    text-align: center;
    line-height: var(--navbar-height);
    font-size: 1.5rem;
    color: var(--color-white-cream);
    box-sizing: border-box;
    padding: 0 20px;
    transition: all 0.2s
}

#my-navbar-toggle>ul>li>a:hover,
#my-navbar-toggle .logout-btn:hover {
    background-color: var(--color-light-blue-bp);
    color: var(--color-white-cream);
}

.my-home-icon {
    position: relative;
    bottom: 4px;
    margin: 0 10px;
}

@media (min-width: 992px) and (max-width: 1080px) {
    #my-navbar-toggle>ul>li>a,
    #my-navbar-toggle .logout-btn {
        padding: 0 10px;
        font-size: 1.2rem !important;
    }
}

@media (min-width: 992px) {
    #my-navbar-toggle {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        border: none;
    }
    #my-navbar-toggle>ul>li {
        width: unset;
    }
    #my-navbar-toggle>ul>li>a,
    #my-navbar-toggle .logout-btn {
        width: 100%;
        font-size: 1.3rem;
    }
}

@media (max-width: 500px) {
    .my-brand>h1 {
        font-size: 2.9rem;
    }
    .notification-box {
        max-width: 230px;
    }
}

@media (max-width: 380px) {
    .my-brand>h1 {
        font-size: 1.8rem;
        bottom: 0;
        padding-left: 10px;
    }
    button.my-navbar-btn {
        width: 35px;
        height: 35px;
    }
}


/* HOMEPAGE */

.my-content-homepage::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.83;
    z-index: -1;
    background: url('/images/bg-stadium.jpg') center;
    background-size: cover;
}

.my-content-homepage {
    box-sizing: border-box;
    text-align: center;
    min-height: calc(100vh - var(--navbar-height));
    text-align: center;
}

.home-div {
    padding: 50px 0;
    color: var(--color-white-cream);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: calc(100vh - var(--navbar-height));
}

.home-div h2 {
    color: var(--color-dark-blue-bp) !important;
    font-size: 4rem;
    font-family: 'Audiowide';
}

.home-div button {
    margin-top: 20px;
}

.home-div .home-message {
    font-size: 1.29rem;
    color: var(--color-white-cream);
    background-color: var(--color-light-blue-gb);
    padding: 10px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    max-width: 600px;
}

.logo-homepage {
    width: 600px;
}

.home-div .social-logins {
    background: rgba(240, 247, 244, 0.8);
    border-radius: 10px;
    padding: 15px;
    margin-top: 30px;
}

.home-div .social-logins h4 {
    color: var(--color-dark-blue-bp) !important;
    font-family: 'Audiowide';
}

.privacy-policy-link {
    padding: 10px 20px;
    color: var(--color-white-cream);
    margin-top: 20px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 0.8rem;
}

.privacy-policy-link:hover {
    color: var(--color-white-cream);
    text-decoration: underline;
}

@media (max-width: 768px) {
    .home-div {
        padding: 30px 0;
    }
    .home-div h2 {
        font-size: 2rem;
    }
    .logo-homepage {
        max-width: 70vw;
    }
    .home-div p {
        max-width: 70vw;
    }
    .my-content-homepage {
        padding-right: 10px;
        padding-left: 10px;
    }
    .home-div .social-logins h4 {
        font-size: 1.2rem;
    }
}


/* PRIVACY POLICY */

.home-message.privacy-policy {
    max-width: unset;
}

.privacy-policy {
    background-color: rgba(2, 88, 211, 0.8)!important;
}

.privacy-policy h2 {
    color: var(--color-white-cream)!important;
    font-size: 2.4rem;
    margin-top: 20px;
}

.privacy-policy h4 {
    color: var(--color-white-cream)!important;
    font-style: italic;
}

.privacy-policy section {
    text-align: left;
    margin: 30px 0;
}

.privacy-policy section p,
.privacy-policy section li {
    font-size: 1rem;
}

@media (max-width:400px) {
    .privacy-policy h2 {
        font-size: 1.5rem;
    }
}


/* SIGNUP & LOGIN */

.register-pages::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.83;
    z-index: -1;
    background: url('/images/bg-stadium.jpg') center;
    background-size: cover;
}

.register-pages {
    margin: 0 10vw;
    min-height: calc(100vh - var(--navbar-height));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.register-pages h2 {
    font-family: 'Audiowide';
}

div.signup-form {
    min-height: calc(100vh - 2*var(--navbar-height) - 30px);
    display: flex;
    align-items: center;
    background-color: rgba(2, 88, 211, 0.8);
    border-radius: 10px;
    width: 100%;
    padding: 20px 10px;
    position: relative;
}

.signup-form h3 {
    font-family: 'Audiowide';
    color: var(--color-white-cream)
}

.ant-form-item-explain>div {
    color: var(--color-yellow);
    font-size: 0.9rem;
}

label {
    color: var(--color-white-cream) !important;
}

label::before {
    color: var(--color-purple-rp) !important;
}

.custom-file-signup {
    max-width: unset !important;
    width: 100%;
    text-align: left !important;
    margin-bottom: 20px;
}

.signup-file-label {
    float: left;
}

.custom-file-signup .profile-image {
    padding-left: 10px;
    max-width: unset !important;
    border-radius: 20px;
    cursor: pointer;
}

.profile-image::after {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media (max-width: 576px) {
    .register-btn {
        font-size: 1rem;
        max-width: 100%;
        margin: 0;
    }
}

.social-logins {
    margin-top: 20px;
}

.social-logins h4 {
    color: var(--color-white-cream);
}

.social-login-links {
    display: flex;
    justify-content: center;
}

.social-login-links a {
    margin: 0 10px;
}

.social-login-links img {
    width: 40px;
    height: 40px;
    transition: all 0.3s;
}

.social-login-links img:hover {
    transform: scale(1.1);
}

.reset-pwd {
    color: var(--color-white-cream);
    margin-top: 7px;
    margin-bottom: 10px;
}

.reset-pwd a {
    color: var(--color-purple-rp);
    font-weight: bold;
    text-decoration: underline;
}

.reset-pwd a:hover {
    color: var(--color-white-cream);
    text-decoration: underline;
}


/* PROFILE */

.my-profile-page::before {
    content: '';
    position: fixed;
    top: var(--navbar-height);
    left: 0;
    width: 100vw;
    height: calc(100vh - var(--navbar-height));
    opacity: 0.8;
    z-index: -1;
    background: url('/images/bg-bp-mirror.jpg') center/contain repeat border-box;
}

.my-profile-page.row {
    padding-top: 30px;
    margin: 0;
    position: relative;
}

.my-profile {
    margin-bottom: 20px;
    height: fit-content;
    padding: 0;
}

.profile-details {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

section.about-section {
    background-color: rgba(101, 6, 124, 0.8);
    border-radius: 10px;
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
}

.my-profile-page h2 {
    font-family: 'Audiowide';
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.about-section button {
    background: none;
    border: none;
    outline: none;
    margin-left: 4px;
}

.about-section button>svg {
    position: relative;
    bottom: 3px;
    transition: all 0.3s;
}

.about-section button>svg:hover {
    transform: scale(1.1);
}

.favteam-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 10px 20px 10px;
    padding: 15px;
    background: var(--color-white-cream);
    border-radius: 10px;
}

.favteam-info h5 {
    color: var(--color-dark-purple-bp);
    margin-top: 20px;
    width: 200px;
}

.favteam-info>div>img {
    width: 70%;
}

.profile-picture-container {
    margin: 0 10px 20px 10px;
}

img.profile-pic,
div.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white-cream);
}

.custom-file {
    max-width: 250px;
}

.profile-image {
    max-width: 250px;
    border-radius: 20px;
    cursor: pointer;
}

.first-file-label {
    text-align: left !important;
}

.custom-file-label {
    color: black !important;
    text-align: left;
    padding-left: 5px;
}

#update-username-modal,
#delete-account-modal {
    position: fixed;
    z-index: 2;
    width: 340px;
    height: 200px;
    top: calc(50vh - 100px);
    left: calc(50vw - 170px);
}

#delete-account-modal h5,
#delete-account-modal p {
    color: var(--color-red-rp);
}

#delete-account-modal .my-btn {
    margin: 10px;
    outline: none;
}

#delete-account-modal .delete-account-btn {
    color: var(--color-red-rp);
}

#delete-account-modal .delete-account-btn:hover {
    color: var(--color-white-cream);
}

#delete-account-modal .close-delete {
    color: var(--color-white-cream);
    background-color: var(--color-dark-blue-bp);
    border: 2px solid var(--color-dark-blue-bp);
    line-height: 100%;
}

#update-username-modal .modal-content {
    width: 100%;
    height: 100%;
    background-color: var(--color-white-cream);
    color: var(--color-dark-blue-bp);
}

#update-username-modal h5,
#update-username-modal label {
    color: var(--color-dark-blue-bp) !important;
    text-align: left;
    width: 100%;
}

#update-username-modal input {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    font-size: 1.2rem;
    padding-left: 10px;
    border: 1px solid rgb(0, 0, 0, 0.3);
    outline: none;
}

#update-username-modal .modal-footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}

#update-username-modal .modal-footer .my-btn {
    min-width: unset;
    margin: 0;
    padding: 0 25px;
    background-color: var(--color-dark-blue-bp);
    border: 3px solid var(--color-dark-blue-bp);
    color: var(--color-white-cream);
    line-height: 100%;
    outline: none;
}

#update-username-modal .my-btn.close {
    background: unset;
    color: var(--color-dark-blue-bp);
    opacity: 1;
    margin-right: 20px;
}

section.geekleagues-section {
    background: rgba(4, 78, 199, 0.8);
    padding: 0.1px 20px 20px 20px;
    margin-top: 20px;
    border-radius: 10px;
}

a.new-league {
    margin: 0;
    background: none;
    border: 2px solid var(--color-white-cream);
    color: var(--color-white-cream);
    line-height: 100%;
    padding-top: 10px;
}

a.new-league:hover {
    transform: none;
    background-color: var(--color-white-cream);
    color: var(--color-dark-blue-bp);
}

.my-profile-ranking {
    margin: 0px auto 20px auto;
    background-color: rgba(37, 138, 230, 0.8);
    border-radius: 10px;
    padding: 0 20px 20px 20px;
    height: fit-content;
}

ul.season-ranking>li {
    background-color: var(--color-white-cream);
}

.my-badge {
    font-size: 0.9rem;
    height: 20px;
    line-height: 100%;
    padding-top: 4px;
}

.delete-account-btn {
    background-color: unset;
    border: 2px solid var(--color-red-rp);
    color: var(--color-red-rp);
    line-height: 100%;
    margin-bottom: 10px;
}

.delete-account-btn:hover {
    transform: none;
    background-color: var(--color-red-rp);
    color: var(--color-white-cream);
}

@media (max-width: 340px) {
    .my-profile-page h2 {
        font-size: 1.8rem;
    }
    img.profile-pic,
    div.profile-pic {
        width: 140px;
        height: 140px;
        margin-right: 0 !important;
    }
    .profile-picture-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #update-username-modal {
        width: 280px;
        left: calc(50% - 140px);
    }
    #update-username-modal .my-btn.close {
        display: none;
    }
}


/* PRONOGEEKS */

.pronogeeks-bg::before {
    content: '';
    position: fixed;
    top: var(--navbar-height);
    left: 0;
    width: 100vw;
    height: calc(100vh - var(--navbar-height));
    opacity: 0.55;
    z-index: -1;
    background: url('/images/bg-gb-mirror.jpg') center/contain repeat border-box;
}

.pronogeeks-bg {
    min-height: calc(100vh - var(--navbar-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.choose-favteam {
    background-color: rgb(240, 247, 244, 0.8);
    padding: 40px;
    border-radius: 10px;
    margin: 20px;
    max-width: 540px;
}

.choose-favteam label {
    color: var(--color-dark-blue-bp) !important;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.choose-favteam label svg {
    position: relative;
    bottom: 2px;
}

.choose-favteam select {
    height: 30px;
    padding: 0 15px;
    border-radius: 15px;
    outline: none;
}

.save-favteam-btn {
    background: none;
    color: var(--color-dark-blue-bp);
    border: 3px solid var(--color-dark-blue-bp);
    line-height: 100%;
    margin-top: 20px;
}

.save-favteam-btn:hover {
    background-color: var(--color-dark-blue-bp);
    color: var(--color-white-cream);
    transform: none;
}

.save-all {
    position: fixed;
    top: calc(var(--navbar-height) + 20px);
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.save-all-btn {
    font-size: 1rem;
    background-color: var(--color-dark-blue-bp);
    margin: 0;
    padding: 0;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    outline: none;
}

.save-all-btn:hover {
    transform: none;
    background-color: var(--color-light-blue-bp);
}

.save-all-btn svg {
    position: relative;
    bottom: 2px;
    left: 2px;
}

.save-all-btn span {
    display: none;
    font-size: 1.2rem;
}

.save-all-info {
    display: none;
    width: 160px;
    margin-top: 10px;
    background-color: var(--color-white-cream);
    padding: 10px 5px;
    border-radius: 5px;
}

.save-all-btn:hover+.save-all-info {
    display: block;
}

.save-all-info p {
    margin: 0;
}

@media (max-width: 768px) {
    .save-all {
        width: 100vw;
        bottom: 0;
        top: unset;
        right: unset;
        height: 60px;
    }
    .save-all-btn {
        height: 100%;
        width: 100%;
        border-radius: 0;
        background: var(--color-dark-blue-bp);
        transition: background 0.8s;
    }
    .save-all-btn:hover {
        background: var(--color-dark-blue-bp) radial-gradient(circle, transparent 1%, var(--color-light-blue-bp) 1%) center/15000%;
    }
    .save-all-btn:active {
        background-color: var(--color-dark-blue-bp);
        background-size: 100%;
        transition: background 0s;
    }
    .save-all-btn span {
        display: inline;
        transition: all 0.3s;
    }
    .save-all-btn svg {
        transition: all 0.3s;
    }
    .save-all-btn:hover+.save-all-info {
        display: none;
    }
}

.pronogeeks-bg h2 {
    color: var(--color-dark-blue-bp) !important;
    margin: 10px 20px 0 20px;
    font-family: 'Audiowide';
}

.pronogeeks-bg h2 svg {
    position: relative;
    bottom: 4px;
    right: 5px;
    transition: all 0.3s;
    cursor: pointer;
}

.pronogeeks-bg h2 svg:hover {
    transform: scale(1.1);
}

.previous-next-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-bottom: 10px;
    color: var(--color-dark-blue-bp);
}

.previous-next-btns .score-top,
.previous-next-btns .score-bottom {
    font-size: 1.4rem;
    background-color: rgba(240, 247, 244, 0.8);
    padding: 5px 20px;
    border-radius: 10px;
    margin: 10px 20px;
    font-family: 'Audiowide';
}

.previous-next-btns .score-bottom {
    margin: 0 20px 10px 20px;
}

.previous-next-btns>button>svg {
    position: relative;
    bottom: 2px;
}

.list-fixtures {
    margin: 0;
    color: var(--color-white-cream);
    border-radius: 10px;
    padding: 0;
}

.list-fixtures-header {
    display: flex;
    justify-content: space-between;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 50px;
    margin-bottom: 16px;
    background-color: rgba(2, 88, 211, 0.8) !important;
    border: 2px solid var(--color-white-cream) !important;
}

.list-fixtures-header div {
    width: calc(100% / 3);
    padding-top: 7px;
    font-size: 1.4rem;
    font-family: 'Audiowide' !important;
}

.list-fixtures-header div:first-child {
    width: 49%;
}

.list-fixtures-header div:nth-child(2) {
    width: 2%;
}

.list-fixtures-header div:nth-child(3) {
    width: 49%;
}

.list-fixtures>li {
    margin-bottom: 16px;
    background-color: rgba(2, 88, 211, 0.8) !important;
    border: 2px solid var(--color-white-cream) !important;
}

.team-logo {
    width: 50px;
}

.fixture-line {
    min-width: 100%;
}

.fixture-line>table {
    width: 100% !important;
}

.fixture-line tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-color: rgb(0, 0, 0, 0.1);
}

.fixture-line th {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixture-line th,
.fixture-line td {
    text-align: center;
    width: 50%;
}

.score-fixture {
    font-size: 2rem;
}

.score-teams-row {
    display: flex;
    align-items: center;
}

.odds-section {
    background-color: var(--color-white-cream);
    color: var(--color-light-blue-gb)
}

.odds-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: flex-end;
}

.odds-bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.prono-section {
    margin-top: 20px;
}

.save-prono,
.previous-next-btns>div>button {
    background-color: rgb(0, 65, 170);
    font-size: 1rem;
    margin: 0;
    min-width: unset;
    width: 44px;
    padding: 0 10px;
    height: 43px;
    border-right: 1px solid rgb(0, 0, 187);
    border-bottom: 2px solid rgb(0, 0, 187);
}

.saved-prono {
    background-color: var(--color-light-green-gb);
    border-right: 1px solid rgb(0, 109, 0);
    border-bottom: 2px solid rgb(0, 109, 0);
}

.save-prono:hover {
    transform: scale(1.1);
}

.save-prono:disabled {
    transform: none;
    opacity: 0.5;
}

.save-prono>svg {
    position: relative;
    bottom: 2px;
}

.prono-input-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prono-input {
    color: var(--color-light-blue-gb);
    max-width: 80px;
    text-align: center;
    border: none;
    border-radius: 10px;
    height: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

.legend-save-btn {
    margin-bottom: 5px;
}

.points-cell {
    font-size: 1.3rem;
    width: 100%;
    text-align: center !important;
}

.points-cell>svg {
    position: relative;
    bottom: 3px;
}

.admin-btn {
    margin-bottom: 30px;
    margin-top: 5px;
    background-color: unset;
    border: 3px solid var(--color-dark-blue-bp);
    color: var(--color-dark-blue-bp);
    line-height: 100%;
}

.admin-btn.top {
    margin-top: 20px;
    margin-bottom: 5px;
    background-color: unset;
    border: 3px solid var(--color-dark-blue-bp);
    color: var(--color-dark-blue-bp);
}

.admin-btn:hover {
    color: var(--color-white-cream);
    background-color: var(--color-dark-blue-bp);
}

.legend-save-btn {
    margin: 0 7px;
}

.rules-box {
    background: var(--color-dark-blue-bp);
    border: 2px solid var(--color-white-cream);
    color: var(--color-white-cream);
    height: 400px;
    width: 500px;
    position: fixed;
    top: calc(50vh + var(--navbar-height) / 2 - 200px);
    left: calc(50vw - 250px);
    padding: 20px;
    overflow-y: scroll;
    z-index: 2;
}

.rules-box>span {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

.rules-box h4 {
    color: var(--color-white-cream);
}

.rules-box>ul {
    text-align: left;
    padding: 0 40px;
}

@media (max-width: 576px) {
    .list-fixtures-header div {
        font-size: 1.2rem;
    }
    .rules-box {
        width: 300px;
        left: calc(50vw - 150px);
    }
}

@media (max-width: 340px) {
    .prono-input {
        width: 45px;
    }
    .rules-box {
        width: 260px;
        left: calc(50vw - 130px);
    }
}


/* NEW GEEKLEAGUE */

.geekleague-bg::before {
    content: '';
    position: fixed;
    top: var(--navbar-height);
    left: 0;
    width: 100vw;
    height: calc(100vh - var(--navbar-height));
    opacity: 0.7;
    z-index: -1;
    background: url('/images/bg-rp-mirror.jpg') center/contain repeat border-box;
}

.geekleague-bg {
    height: calc(100vh - var(--navbar-height));
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10vh 20vw;
    color: var(--color-white-cream);
    margin: 0;
}

.geekleague-bg h2 {
    font-family: 'Audiowide';
    color: var(--color-white-cream);
}

.geekleague-form {
    padding: 20vh 20px;
    width: 100%;
    height: calc(80vh - var(--navbar-height));
    margin-bottom: 10vh;
    background-color: rgba(156, 0, 99, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.create-league-btn {
    margin: 0;
    background: none;
    border: 2px solid var(--color-white-cream);
    color: var(--color-white-cream);
    line-height: 100%;
    outline: none !important;
}

.create-league-btn:hover {
    background: var(--color-white-cream);
    color: var(--color-purple-rp);
    font-weight: 500;
    transform: none;
}

.geekleague-form>div {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.geekleague-form form {
    height: 100%;
}

img.profile-pic-preview {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
}

@media (max-width: 768px) {
    .geekleague-bg {
        padding: 10vh 10vw;
    }
}


/* GEEKLEAGUES */

.geekleagues-list {
    padding: 5vh 0;
}

.my-geekleagues {
    justify-content: space-around;
}

.my-geekleagues h4 {
    color: var(--color-white-cream);
    font-family: 'Audiowide';
}

.my-geekleagues h6 {
    color: var(--color-white-cream);
}

.geekleague-card-container {
    padding: 20px;
}

.geekleague-card {
    background-color: rgba(156, 0, 99, 0.8);
    padding: 10px;
    border-radius: 10px;
}

a.geekleagues-page-btn {
    margin: 20px 10px 10px 10px;
}

a.geekleagues-page-btn:hover {
    color: var(--color-purple-rp);
}


/* GEEKLEAGUE DETAILS */

.geekleague-details {
    padding: 5vh 0;
}

.geekleague-seasons {
    justify-content: space-around;
    margin-bottom: 20px;
}

.geekleague-seasons h4 {
    font-family: 'Audiowide';
    color: var(--color-white-cream);
    margin-bottom: 20px;
}

.league-season-ranking-container {
    padding: 15px;
}

.league-season-ranking {
    background-color: rgba(156, 0, 99, 0.8);
    border-radius: 10px;
    padding: 20px;
}

.geekleague-ranking-detail {
    color: black;
}

.geekleague-page h2 button {
    background: none;
    border: none;
    outline: none;
    margin-left: 4px;
}

.geekleague-page h2 button>svg {
    position: relative;
    bottom: 3px;
    transition: all 0.3s;
}

.geekleague-page h2 button>svg:hover {
    transform: scale(1.1)
}

.my-modal-edit-geekleague {
    position: fixed;
    min-height: 350px;
    width: 340px;
    top: calc(50vh - 150px);
    left: calc(50vw - 170px);
    background: var(--color-purple-rp);
    border: 3px solid var(--color-white-cream);
    padding: 10px 20px;
    border-radius: 10px;
}

.my-modal-edit-geekleague .my-modal-body {
    position: relative;
}

.close-edit-modal {
    position: absolute;
    right: -10px;
    top: -5px;
    cursor: pointer;
}

.my-modal-edit-geekleague h5 {
    color: var(--color-white-cream);
}

.my-modal-edit-geekleague input {
    outline: none !important;
}

.my-modal-edit-geekleague button {
    border: 2px solid var(--color-white-cream);
    margin: 10px;
    line-height: 100%;
    outline: none;
}

.my-modal-edit-geekleague button:hover {
    transform: none;
    background-color: var(--color-white-cream);
    color: var(--color-purple-rp);
}

.my-modal-delete-geekleague {
    position: fixed;
    min-height: 200px;
    width: 340px;
    top: calc(50vh - 100px);
    left: calc(50vw - 170px);
    background: var(--color-white-cream);
    border: 3px solid var(--color-white-cream);
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid var(--color-red-rp);
}

.my-modal-delete-geekleague h5 {
    color: var(--color-red-rp);
}

.close-delete-modal {
    color: var(--color-dark-blue-bp);
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}

.my-modal-delete-geekleague .my-btn {
    background-color: unset;
    line-height: 100%;
    margin-top: 10px;
    outline: none;
}

.my-modal-delete-geekleague .delete {
    color: var(--color-red-rp);
    border: 2px solid var(--color-red-rp);
    transform: none;
}

.my-modal-delete-geekleague .delete:hover {
    background-color: var(--color-red-rp);
    color: var(--color-white-cream);
}

.my-modal-delete-geekleague .return {
    background-color: var(--color-dark-blue-bp);
    color: var(--color-white-cream);
}

.league-season-ranking .see-more-btn {
    background: none;
    border: 2px solid var(--color-white-cream);
    color: var(--color-white-cream);
    line-height: 100%;
    outline: none;
}

.league-season-ranking .see-more-btn:hover {
    background: var(--color-white-cream);
    color: var(--color-purple-rp);
}

@media (max-width: 380px) {
    .my-modal-edit-geekleague,
    .my-modal-delete-geekleague {
        width: 250px;
        left: calc(50vw - 125px);
    }
}


/* GEEKLEAGUE DETAIL MATCHWEEK */

.ranking-geekleague-matchweek {
    padding: 20px;
    background-color: rgba(156, 0, 99, 0.8);
    border-radius: 10px;
}

.ranking-geekleague-matchweek h4 {
    color: var(--color-white-cream) !important;
    font-family: 'Audiowide';
    margin: 0 10px;
}


/* PRONOGEEKS OTHER */

h4.not-accessible {
    color: var(--color-light-blue-gb);
    font-family: 'Audiowide';
    margin-right: 20px;
    margin-left: 20px;
}