:root {
    --color-white-cream: #F0F7F4;
    --color-dark-blue-bp: rgb(4, 78, 199);
    --color-light-blue-bp: rgb(37, 138, 230);
    --color-light-purple-bp: rgb(151, 2, 182);
    --color-dark-purple-bp: rgb(101, 6, 124);
    --color-dark-green-gb: rgb(16, 128, 0);
    --color-light-green-gb: rgb(59, 181, 21);
    --color-light-blue-gb: rgb(2, 88, 211);
    --color-purple-rp: rgb(156, 0, 99);
    --color-red-rp: rgb(253, 0, 7);
    --color-yellow: rgb(255, 217, 0);
    --navbar-height: 80px;
}

html {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

@media (min-width: 1400px) {
    html {
        font-size: 16px;
    }
    table {
        font-size: 16px;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Sawarabi Gothic', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.my-btn {
    background-color: var(--color-purple-rp);
    color: var(--color-white-cream);
    height: 42px;
    line-height: 42px;
    padding: 0 25px;
    font-size: 1.2rem;
    margin: 30px 20px 0;
    transition: all 0.3s;
    border: none;
    border-radius: 21px;
    box-sizing: border-box;
}

.my-btn:hover {
    transform: scale(1.02);
    color: var(--color-white-cream);
}

.row {
    max-width: 100vw;
}

h2 {
    font-size: 2.5rem;
    color: var(--color-white-cream) !important;
}

label {
    color: var(--color-white-cream) !important;
}

label::before {
    color: var(--color-purple-rp) !important;
}

.page-404-heading {
    color: black !important;
}

.my-badge {
    font-size: 0.9rem;
    height: 20px;
    line-height: 100%;
    padding-top: 4px;
}

@media(max-width: 576px) {
    h2 {
        font-size: 2.4rem;
    }
    .notification-box {
        max-width: 230px;
    }
}


/* HOMEPAGE */

.my-content-homepage::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.83;
    z-index: -1;
    background: url('/images/bg-stadium.jpg') center;
    background-size: cover;
}

.my-content-homepage {
    box-sizing: border-box;
    text-align: center;
    min-height: calc(100vh - var(--navbar-height));
    text-align: center;
}

.home-div {
    padding: 50px 0;
    color: var(--color-white-cream);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: calc(100vh - var(--navbar-height));
}

.home-div h2 {
    color: var(--color-dark-blue-bp) !important;
    font-size: 4rem;
    font-family: 'Audiowide';
}

.home-div .home-message {
    font-size: 1.29rem;
    color: var(--color-white-cream);
    background-color: var(--color-light-blue-gb);
    padding: 10px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    max-width: 600px;
}

@media (max-width: 768px) {
    .home-div {
        padding: 30px 0;
    }
    .home-div h2 {
        font-size: 2rem;
    }
    .home-div p {
        max-width: 70vw;
    }
    .my-content-homepage {
        padding-right: 10px;
        padding-left: 10px;
    }
}


/* SIGNUP & LOGIN */

.register-pages::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.83;
    z-index: -1;
    background: url('/images/bg-stadium.jpg') center;
    background-size: cover;
}

.register-pages {
    margin: 0 10vw;
    min-height: calc(100vh - var(--navbar-height));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.register-pages h2 {
    font-family: 'Audiowide';
}

div.signup-form {
    min-height: calc(100vh - 2*var(--navbar-height) - 30px);
    display: flex;
    align-items: center;
    background-color: rgba(2, 88, 211, 0.8);
    border-radius: 10px;
    width: 100%;
    padding: 20px 10px;
    position: relative;
}

.signup-form h3 {
    font-family: 'Audiowide';
    color: var(--color-white-cream)
}

.ant-form-item-explain>div {
    color: var(--color-yellow);
    font-size: 0.9rem;
}

.profile-image::after {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media (max-width: 576px) {
    .register-btn {
        font-size: 1rem;
        max-width: 100%;
        margin: 0;
    }
}


/* PROFILE */

.custom-file {
    max-width: 250px;
}

.profile-image {
    max-width: 250px;
    border-radius: 20px;
    cursor: pointer;
}

.first-file-label {
    text-align: left !important;
}

.custom-file-label {
    color: black !important;
    text-align: left;
    padding-left: 5px;
}


/* PRONOGEEKS */

.previous-next-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-bottom: 10px;
    color: var(--color-dark-blue-bp);
}

.previous-next-btns>button>svg {
    position: relative;
    bottom: 2px;
}

.previous-next-btns>div>button {
    background-color: rgb(0, 65, 170);
    font-size: 1rem;
    margin: 0;
    min-width: unset;
    width: 44px;
    padding: 0 10px;
    height: 43px;
    border-right: 1px solid rgb(0, 0, 187);
    border-bottom: 2px solid rgb(0, 0, 187);
}

.right-prono {
    color: var(--color-dark-green-gb);
}

.exact-prono {
    font-weight: 900;
}

.wrong-prono {
    color: var(--color-red-rp);
}


/* NEW GEEKLEAGUE */

.geekleague-bg::before {
    content: '';
    position: fixed;
    top: var(--navbar-height);
    left: 0;
    width: 100vw;
    height: calc(100vh - var(--navbar-height));
    opacity: 0.7;
    z-index: -1;
    background: url('/images/bg-rp-mirror.jpg') center/contain repeat border-box;
}

.geekleague-bg {
    height: calc(100vh - var(--navbar-height));
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10vh 20vw;
    color: var(--color-white-cream);
    margin: 0;
}

.geekleague-bg h2 {
    font-family: 'Audiowide';
    color: var(--color-white-cream);
}

.geekleague-form {
    padding: 20vh 20px;
    width: 100%;
    height: calc(80vh - var(--navbar-height));
    margin-bottom: 10vh;
    background-color: rgba(156, 0, 99, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.create-league-btn {
    margin: 0;
    background: none;
    border: 2px solid var(--color-white-cream);
    color: var(--color-white-cream);
    line-height: 100%;
    outline: none !important;
}

.create-league-btn:hover {
    background: var(--color-white-cream);
    color: var(--color-purple-rp);
    font-weight: 500;
    transform: none;
}

.geekleague-form>div {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.geekleague-form form {
    height: 100%;
}

img.profile-pic-preview {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
}

@media (max-width: 768px) {
    .geekleague-bg {
        padding: 10vh 10vw;
    }
}


/* GEEKLEAGUES */

.geekleagues-list {
    padding: 5vh 0;
}

.my-geekleagues {
    justify-content: space-around;
}

.my-geekleagues h4 {
    color: var(--color-white-cream);
    font-family: 'Audiowide';
}

.my-geekleagues h6 {
    color: var(--color-white-cream);
}

.geekleague-card-container {
    padding: 20px;
}

.geekleague-card {
    background-color: rgba(156, 0, 99, 0.8);
    padding: 10px;
    border-radius: 10px;
}

a.geekleagues-page-btn {
    margin: 20px 10px 10px 10px;
}

a.geekleagues-page-btn:hover {
    color: var(--color-purple-rp);
}


/* GEEKLEAGUE DETAILS */

.geekleague-details {
    padding: 5vh 0;
}

.geekleague-seasons {
    margin: 0 0 35px 0;
}

.geekleague-seasons h4 {
    font-family: 'Audiowide';
    color: var(--color-white-cream);
    margin: 0;
}

.league-season-ranking-container {
    padding: 15px;
}

.league-season-ranking {
    background-color: rgba(156, 0, 99, 0.8);
    border-radius: 10px;
    padding: 20px 20px 0 20px;
}

.geekleague-ranking-detail {
    color: black;
}

.geekleague-ranking-detail li span:first-child {
    text-align: left;
}

.geekleague-page.container {
    padding: 0;
}

.geekleague-page h2 {
    padding: 0 15px;
}

.geekleague-page h2 button {
    background: none;
    border: none;
    outline: none;
    margin-left: 4px;
}

.geekleague-page h2 button>svg {
    position: relative;
    bottom: 3px;
    transition: all 0.3s;
}

.geekleague-page h2 button>svg:hover {
    transform: scale(1.1)
}

.my-modal-edit-geekleague {
    position: fixed;
    min-height: 350px;
    width: 340px;
    top: calc(50vh - 150px);
    left: calc(50vw - 170px);
    background: var(--color-purple-rp);
    border: 3px solid var(--color-white-cream);
    padding: 10px 20px;
    border-radius: 10px;
}

.my-modal-edit-geekleague .my-modal-body {
    position: relative;
}

.close-edit-modal {
    position: absolute;
    right: -10px;
    top: -5px;
    cursor: pointer;
}

.my-modal-edit-geekleague h5 {
    color: var(--color-white-cream);
}

.my-modal-edit-geekleague input {
    outline: none !important;
}

.my-modal-edit-geekleague button {
    border: 2px solid var(--color-white-cream);
    margin: 10px;
    line-height: 100%;
    outline: none;
}

.my-modal-edit-geekleague button:hover {
    transform: none;
    background-color: var(--color-white-cream);
    color: var(--color-purple-rp);
}

.my-modal-delete-geekleague {
    position: fixed;
    min-height: 200px;
    width: 340px;
    top: calc(50vh - 100px);
    left: calc(50vw - 170px);
    background: var(--color-white-cream);
    border: 3px solid var(--color-white-cream);
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid var(--color-red-rp);
}

.my-modal-delete-geekleague h5 {
    color: var(--color-red-rp);
}

.close-delete-modal {
    color: var(--color-dark-blue-bp);
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}

.my-modal-delete-geekleague .my-btn {
    background-color: unset;
    line-height: 100%;
    margin-top: 10px;
    outline: none;
}

.my-modal-delete-geekleague .delete {
    color: var(--color-red-rp);
    border: 2px solid var(--color-red-rp);
    transform: none;
}

.my-modal-delete-geekleague .delete:hover {
    background-color: var(--color-red-rp);
    color: var(--color-white-cream);
}

.my-modal-delete-geekleague .return {
    background-color: var(--color-dark-blue-bp);
    color: var(--color-white-cream);
}

.league-season-ranking .see-more-btn {
    background: none;
    border: 2px solid var(--color-white-cream);
    color: var(--color-white-cream);
    line-height: 100%;
    outline: none;
    margin: 20px 0;
}

.league-season-ranking .see-more-btn:hover {
    background: var(--color-white-cream);
    color: var(--color-purple-rp);
}

@media (max-width: 380px) {
    .my-modal-edit-geekleague,
    .my-modal-delete-geekleague {
        width: 250px;
        left: calc(50vw - 125px);
    }
}


/* GEEKLEAGUE DETAIL MATCHWEEK */

.return-button {
    color: var(--color-white-cream);
}

.return-button:hover {
    text-decoration: underline;
    color: var(--color-white-cream);
}

.ranking-geekleague-matchweek-container {
    padding: 0;
}

.ranking-geekleague-matchweek-container h2 {
    margin-top: 10px;
}

.ranking-geekleague-matchweek {
    padding: 20px;
    background-color: rgba(156, 0, 99, 0.8);
    border-radius: 10px;
    margin-bottom: 35px;
}

.geek-ranking-number {
    font-size: 1.3rem;
}

.ranking-geekleague-matchweek h4 {
    color: var(--color-white-cream) !important;
    font-family: 'Audiowide';
    margin: 0 10px;
}

li.list-group-item {
    padding: 0.75rem 0.75rem;
}

.my-badge-ranking {
    font-size: 1.08rem;
    height: 24px;
    line-height: 100%;
    padding-top: 4px;
    position: absolute;
    right: 0;
}

.my-badge-ranking-header {
    position: unset;
}

.ranking-line-top {
    margin-bottom: 3px;
    position: relative;
}

.username-ranking {
    font-size: 1.2rem;
    text-align: left;
}

.profile-pic-ranking {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    object-fit: cover;
}

.team-logo-ranking {
    width: 20px;
    height: 20px;
}

.ranking-icon {
    padding: 0 3px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 1.1rem;
    position: relative;
}

.ranking-icon-details {
    display: none;
    position: absolute;
    background: #fbe291;
    z-index: 2;
    padding: 5px 10px;
    width: 180px;
    border-radius: 10px;
}

.ranking-icon-details-right {
    left: -180px;
}

.ranking-icon-details p {
    margin: 0;
    color: black;
    text-align: left;
}

.ranking-icon:hover>.ranking-icon-details {
    display: initial;
}

.ranking-icon-last {
    padding-right: 0;
    border: none;
}

.ranking-favteam-logo img {
    width: 24px;
    height: 24px;
}

.ranking-icon-component {
    margin-left: 1px;
}

.medal-icons-ranking {
    position: relative;
    right: 6px;
}